.peopleContainerPositioner
    .peopleContainer
        .peopleHeader People
        .person(ng-repeat="person in meeting.people")
            span(title="{{person.name}}") {{personNameEllipses(person.name)}}
            span.glyphicon.glyphicon-remove(ng-click="kickPerson(person)", ng-show="!isPersonAdmin(person)")
            span.glyphicon.glyphicon-star(ng-click="promotePerson(person)", ng-show="!isPersonAdmin(person)")

.adminControlsContainer
    button.btn.btn-default(ng-click="openVoting()", ng-show="meeting.status === MEETING_STATUS_TOPICS_OPEN") Open Voting
    button.btn.btn-default(ng-click="closeVoting()", ng-show="meeting.status === MEETING_STATUS_VOTING_OPEN") Close Voting

.flexContainer
    .topicsToDiscussContainer
        .topicsHeader To Discuss
        .topicsToDiscuss
            .topic(ng-repeat="topic in meeting.topics | filter: {status: 'STATUS_TO_DISCUSS'}", data-topic-id="{{topic.id}}")
                p.topicText {{topic.text}}
                p.topicVotes Votes: {{topic.votes}}

    .topicsToDiscussContainer
        .topicsHeader Discussing
        .topicsToDiscuss
            .topic(ng-repeat="topic in meeting.topics | filter: isDiscussing", data-topic-id="{{topic.id}}")
                p.topicText {{topic.text}}
                p.topicVotes Votes: {{topic.votes}}

    .topicsToDiscussContainer
        .topicsHeader Done
        .topicsToDiscuss
            .topic(ng-repeat="topic in meeting.topics | filter: {status: 'STATUS_DONE'}", data-topic-id="{{topic.id}}")
                p.topicText {{topic.text}}
                p.topicVotes Votes: {{topic.votes}}