nav.navbar.navbar-default.macchiato-navbar
    .container-fluid
        .navbar-header
            a.navbar-brand Macchiato

        ul.nav.navbar-nav.navbar-right
            if meeting == true
                li: a(ng-click="leaveMeeting()") Leave Meeting