html
    head
        title 'Create Meeting'
        style
            include create.css
    body
        
        div.main-box
            div.hdr Macchiato: The Lean Coffee Meeting App
                
            div.msg Creating you own Lean Coffee meeting is as simple as clicking on the button below, setting a thing or two, then sharing the link with your attendees!
            
            div
                p
                    input(type="submit", value="Create Lean Coffee Meeting Now!" class="btn")
            
            div.msg 