body {color: navy;
        font-family: sans-serif;
        text-align: center;}

.hdr {background-color: navy;
        color: white;
        text-align: center;
        padding: 10px; 
        font-size: 1.2em;}

.main-box {border: solid thin navy;
        text-align: center;
        font-size: 1.1em;}
        
.topic-box {border: solid thin navy;
        text-align: left;
        font-size: 1.0em;}

.settings {border: solid thin navy;
        text-align: center;
        font-size: 1.1em;
        width: 40%;}

.msg {text-align: center;
        padding-top: 10%;
        padding-left: 10%;
        padding-right: 10%;
        font-size: 1.1em;}
        
.btn {background-color: navy;
        color: white;
        text-align: center;
        padding: 4px;
        font-size: 1.0em;}
        
.cancel {background-color: red;
        color: white;
        text-align: center;
        padding: 4px;
        font-size: 1.0em;}
        
.go {background-color: green;
        color: white;
        text-align: center;
        padding: 4px;
        font-size: 1.0em;}