html
    head
        title 'Current Topic'
        style
            include create.css
    body
        
        div.settings
            div.msg Current Topic
            
                p.topic-box  Vivamus a orci vel arcu posuere faucibus. Morbi quis fermentum metus. Nam imperdiet sagittis nulla. Donec eu pulvinar nisi. Aliquam egestas, diam eget convallis mattis, tellus libero dapibus sem
                                    
            p
                input(type="submit", value="Stop", class="cancel", style="float: left")
                     
                input(type="submit", value="Go", class="go", style="float: right")
            div.msg 