doctype html
html(ng-app="Macchiato")
    head
        meta(charset='utf-8')
        meta(http-equiv='X-UA-Compatible', content='IE=edge')
        meta(name='viewport', content='width=device-width, initial-scale=1.0')
        title Macchiato

        link(href="/3rdparty/bootstrap/dist/css/bootstrap.css", rel="stylesheet")
        link(href="/macchiato.css", rel="stylesheet")

        script(src="/socket.io/socket.io.js")
        script(src="/3rdparty/jquery/dist/jquery.js")
        script(src="/3rdparty/bootstrap/dist/js/bootstrap.js")
        script(src="/3rdparty/angular/angular.js")
        script(src="/3rdparty/angular-bootstrap/ui-bootstrap-tpls.js")
        script(src="/3rdparty/angular-cookies/angular-cookies.js")
        script(src="/3rdparty/ng-lodash/build/ng-lodash.js")
        script(src="/macchiato.js")