h4.modal-header Join Meeting
.modal-body
    div(ng-show="!loading")
        #newMeetingModalError.alert.alert-danger(ng-show="error") {{error}}
        input.form-control(type="text", ng-model="name", placeholder="Enter your name", autofocus)
    div(ng-show="loading") Loading...
.modal-footer
    button.btn.btn-primary(ng-disabled="loading", ng-click="submit()") Submit
