include header.jade
body(ng-controller="MeetingController")
    div.hdr Macchiato: The Lean Coffee Meeting App
    .alert.alert-danger(ng-show="error") {{error}}

    if admin == true
        .adminMeeting(ng-controller="AdminMeetingController")
            include adminMeeting.jade
    else
        .clientMeeting(ng-controller="ClientMeetingController")
            include clientMeeting.jade