html
    head
        title 'Current Topics'
        style
            include create.css
    body
        div.settings
        
            div.list Current Topics
            div.list
               
                div.msg 
                    p.topic-box  Vivamus a orci vel arcu posuere faucibus. Morbi quis fermentum metus. Nam imperdiet sagittis nulla. Donec eu pulvinar nisi. Aliquam egestas, diam eget convallis mattis, tellus libero dapibus sem
                                        
                    p
                        input(type="submit", value="  -1  ", class="cancel")
                        input(type="submit", value=" Reset ", class="btn")                         
                        input(type="submit", value="  +1  ", class="go")
                        p(style="float:right;") * *
                div.msg
            div.list
                div.msg 
                    p.topic-box  Donec convallis, augue et imperdiet tempus, justo enim fringilla nibh, volutpat pellentesque dolor ante tincidunt nunc. In congue urna placerat purus consequat,
                    
                    p
                        input(type="submit", value="  -1  ", class="cancel")
                        input(type="submit", value=" Reset ", class="btn")                         
                        input(type="submit", value="  +1  ", class="go")
                        p(style="float:right;") * 
                div.msg 