.settings {
    text-align: center;
    font-size: 1.1em;
    width: 60%;
    margin: 0 auto;
}

.settings td {
    border: none !important;
}

.msg {
    text-align: center;
    padding-top: 10%;
    padding-left: 10%;
    padding-right: 10%;
    margin-bottom: 20px;
    font-size: 1.1em;
}